/* Estilos generales del cuerpo */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    background-color: #f4f4f4;
    position: relative; 
}

/* Estilos para los encabezados */
h1, h2 { 
    font-size: 3em; 
    font-weight: bold;
    text-align: center;
    margin-top: 50px; 
    color: #333;   
}

/* Estilos del encabezado de la galería */
.galeria-header {  
    font-family: 'Arial', sans-serif;  
    font-size: 34px;   
    font-weight: bold;   
    text-align: center; 
    margin: 40px 0;  
    color: black;   
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);  
}

/* Estilos para las imágenes de fondo */
.background-images {  
    position: fixed;  
    top: 0;  
    left: 0;  
    width: 100%;  
    height: 100%;  
    overflow: hidden;  
    z-index: -1;  
}  

.background-images img {  
    width: 100%;  
    height: 100%;  
    object-fit: cover;  
    transition: opacity 1s ease-in-out;  
}  

/* Estilos para formularios */
form {  
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 15px; 
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); 
    border-radius: 10px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    width: 100%;
    max-width: 600px; 
    margin: 60px auto; 
} 

/* Estilos para etiquetas */
label {
    color: #333;  
    font-size: 30px; 
    font-weight: bold;
    text-align: center; 
    margin-bottom: 5px; 
}  

/* Estilos para entradas y selectores */
input, select {  
    padding: 10px;  
    border: 1px solid #ccc;  
    border-radius: 5px;  
    width: calc(100% - 22px); 
}  

/* Estilos para botones */
button {  
    padding: 10px;  
    background-color: #007BFF;  
    color: white;  
    border: none;
    border-radius: 5px;  
    cursor: pointer;  
    transition: background-color 0.3s ease; 
    width: 100%;
}  

button:hover {  
    background-color: #0056b3; 
}

/* Estilos para la cuadrícula de elementos */
.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    padding: 20px;
    gap: 50px; 
}

/* Estilos para las tarjetas dentro de la cuadrícula */
.card {
    border: 1px solid #ddd; 
    border-radius: 16px; 
    overflow: hidden; 
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2); 
    background-color: #fff; 
    text-align: center; 
    transition: transform 0.2s, box-shadow 0.2s; 
    padding: 15px; 
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
    height: 100%; 
}

.card img {
    width: 100%; 
    height: auto; 
    max-height: 150px; 
    object-fit: cover; 
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
}

.card h3 {
    font-size: 1.8em; 
    margin: 10px 0; 
}

.card p {
    margin: 5px 0;
    font-size: 1.2em; 
}

.card .date {
    display: none; 
    font-size: 1.2em;
    color: #666;
}

.card:hover .date {
    display: block; 
}

/* Efectos hover para las tarjetas */
.card:hover {
    transform: translateY(-5px) scale(1.05); 
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3); 
}

/* Estilos para el botón "Ver más" */
.ver-mas {
    background-color: #007BFF; 
    padding: 10px;
    margin-top: auto; 
    width: 100%; 
    text-align: center;
    text-decoration: none;
    color: white; 
    border-radius: 5px; 
    transition: background-color 0.3s ease; 
}

.ver-mas:hover {
    background-color: #0056b3; 
}

/* Estilos para la ventana modal */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1000; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow-y: auto; 
    background-color: rgba(0, 0, 0, 0.7); 
    display: flex;  
    align-items: center;  
    justify-content: center; 
}

.modal-content {  
    background-color: #fefefe;  
    margin: auto;  
    padding: 20px;  
    border-radius: 10px; 
    max-width: 90%;  
    width: 500px; 
    position: relative;
    top: 40%; 
    transform: translateY(-35%); 
    max-height: 80%;  
    overflow-y: auto;  
}

/* Estilos para las imágenes dentro de la modal */
.modal-content img {
    width: 100%; 
    height: auto; 
    display: block;
}

/* Estilos para el botón de cerrar la modal */
.close-modal {
    position: absolute; 
    top: 10px;
    right: 15px;
    color: #333; 
    font-size: 30px; 
    font-weight: bold; 
    cursor: pointer; 
}

.close-modal:hover {
    color: #ff0000; 
}

/* Estilos para la paginación */
.pagination {
    display: flex; 
    justify-content: center; 
    margin-top: 20px; 
}

.pagination button {
    background-color: #007BFF; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    padding: 10px 20px; 
    margin: 20px 10px; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
}

.pagination button:hover {
    background-color: #0056b3; 
}

.pagination button:disabled {
    background-color: #ccc; 
    cursor: not-allowed; 
}

/* Estilos del pie de página */
.footer-style {  
    background-color: rgba(128, 128, 128, 0.5);  
    padding: 10px;  
    text-align: center;  
    width: 100%; 
    position: fixed;   
    bottom: 0;  
    left: 0;   
    font-size: 22px; 
} 

.footer-style a:hover {  
    color: #FFD700;  
}
